{% extends "base.html" %}
    {% macro render_field(field) %}
        {% if field.type == "TextField" %}
            {{ field.label }}
        {% endif %}
            {{ field(**kwargs)|safe }}
        {% if field.type == "BooleanField" %}
            {{ field.label }}
            </br>
        {% endif %}

    {% if field.errors %}
        <span class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% endmacro %}
{% block title %}Registration{% endblock %}
{% block content %}

    <div class="box">
    <form action="register" method="post" title="Registrationform" id="registrationform">
        <div id="regTexts">
            {{ render_field(form.name) }}
            {{ render_field(form.surname) }}
            {{ render_field(form.email) }}
            {{ render_field(form.country) }}
            {{ render_field(form.city) }}
        </div>
        <p>Where did you first hear about this project?</p>
        <div id="regChecks">
            {{ render_field(form.refFriend) }}
            {{ render_field(form.refGoogle) }}
            {{ render_field(form.refFacebook) }}
            {{ render_field(form.refTwitter) }}
            {{ render_field(form.refSearch) }}
            {{ render_field(form.refOther, onchange="document.getElementById('refOtherText').style.visibility = ((this.checked) ? 'visible' : 'hidden');") }}
            {{ form.refOtherText(style="visibility: hidden;") }}
        </div>
        <button type="submit">Submit</button>
    </form>
    <p>{{ people }} joined the dark side.</p>

    </div>
{% endblock %}